/* .main-container .output-section .key-element{
    background-color: yellow;
    transition: all 1000ms ease;
    transform:translateY(-70px);
  } */

  /* .transition{
    transition: position 0.7s, left 0.7s;
  } */

  
