@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #4D59FB;
  }

  .wrapper{
    width:400px;
    border-radius: 7px;
    background: #fff;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
  }


  .wrapper header{
    color:#43AFFC;
    font-size: 28px;
    font-weight: 500;
    padding: 12px 15px;
    border-bottom: 1px solid #bfbfbf ;
    text-align: center;
  }

  .wrapper .input-part{
     width:100%;
     margin: 15px 0px;
     display: flex;
     justify-content:center;
     align-items: center;
     position: relative;
  }
 
  .input-part .search{
    position: relative;
  }


 .search input{
    height:45px;
    outline:none;
    font-size: 16px;
    padding:0px 42px;
    border-radius: 5px;
    border:1px solid #999;
  }

  .search :where(i, span){
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color:#999;
    cursor: pointer;
  }

  .search i{
    left:18px;
    font-size:16px;
    
  }

  .search span{
    right:15px;
    font-size: 18px;
    display: none;
  }

  .search input:focus{
    padding:0px 41px;
    border:2px solid #4D59FB;
  } 
  .search input:focus ~ i{
    color:#4d59fb;
  }

 .search input:focus ~ i{
   color:#4d59fb;
   }

 .search input:valid ~ span{
   display: block;
  }

  .wrapper .info-text{
    font-size: 13px;
    color:#9a9a9a;
    font-weight: 500;
    margin:-10px 20px 7px;
}
.wrapper.active .info-text{
  font-size: 16px;
  color:black;
}

  .wrapper .content{
    padding-top:30px;
    display: none;
  }
  .wrapper.active .content{
    display: block;
  }
   
  .search-btn{
     margin-left:10px;
     border:none;
     outline:none;
     padding:10px;
     border-radius:5px;
     background: #43AFFC;
     color:white;
     font-size: 16px;
     font-weight: 500;
     cursor: pointer;
     transition: all 0.2s ease;
  }

  .search-btn:hover{
    background: #327fb6;
  }
  
  .wrapper .content li{
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .wrapper .weather-part img{
    max-width: 170px;
    height:100px;
    margin-bottom: -15px;
  }
   
  .wrapper .content .temperature{
    display: flex;
  }
  .wrapper .content .temperature .numb{
    font-size: 72px;
    font-weight: 600;
  }
  .wrapper .content .temperature .deg{
    font-size:40px;
    margin: 10px 5px 0px 0px;
  }

  .wrapper .content .temperature .centig{
    font-size: 72px;
    font-weight: 600;
  }
 
   .wrapper .weather{
    font-size:21px;
    font-weight: 500;
    margin-top: -15px;
    text-transform: capitalize;
   }

  .wrapper .location{
    display: flex;
    font-size: 19px;
    font-weight: 500;
    padding:0px 20px;
    margin-bottom: 30px;
    align-items: flex-start;
    text-transform: capitalize;
   }

   .location .location-icon{
    font-size: 22px;
    font-weight: 700;
    margin: 3px 5px 0 0;
 }

  
 .wrapper .date{
  font-size: 16px;
  text-transform: capitalize;
 }

.wrapper .bottom-info{
    width:100%;
    height:60px;
    margin-top:15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #bfbfbf ;
}

.wrapper .bottom-info .column{
  width:50%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-info .feels{
  border-right: 1px solid #bfbfbf; 
}

.bottom-info .column i{
  color: #5DBBFF;
  font-size:32px;
}

.column .details{
  margin-left: 5px;
}

.column .details span{
  font-size:16px;
}

.column .details p{
  font-size: 12px;
  margin-top: -6px;
}

.column .details .perc{
margin-left:5px;
}

